h1 About Me
div.about
  div.aboutContainer
    div.infoPicture
      img.me(src="img/me.jpg")
      h2 James McGaghey
      h3 Full Stack Developer
    div.infoContent
      div.status
        p Currently looking for work
    .fixFloat