h1 About Me
div.about
  div.infoPicture
    img.me(src="img/me.jpg")
    div.info
      h2 James McGaghey
      h3 Full Stack Developer
  div.infoContent
    div.status
      p Currently looking for work
    p My passion is to make things function like they are suppose to and to have clean and efficient code free of any bugs. When making things function I code them to work to their fullest potential and I tend to be a protectionist when it comes to functionality and usability.
  div.location
    p Current location:
      span Toronto, Ontario Canada